[Unit]
Description=ksqlDB Server
After=network.target kafka.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment="KSQL_HEAP_OPTS=-Xmx1G -Xms1G"
ExecStart=/opt/kafka/bin/ksql-server-start /opt/kafka/config/ksql-server.properties
Restart=on-failure
RestartSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
