__pycache__/
*.pyc
*.pyo
.env
tantor.db
*.db
node_modules/
dist/
.vite/
venv/
.venv/
kafka-vapt/reports/
qualys-vapt/reports/
qualys-vapt/config/qualys-config.env
openvas-vapt/reports/
backend/repo/kafka/*.tgz
backend/repo/ksqldb/*.tgz
*.tgz
tantor-*.tar.gz
.secrets/
.DS_Store
backend/repo/kafka/*.tgz
